<div class="container">
    <div class="content-form">
        <form [formGroup]="form" (ngSubmit)="submitForm()">             
            <div class="center-div" >
                <input type="text" class=" text-input number-input" placeholder="add numbers " formControlName="array">
            </div>
            <div class="center-div" >
                <input type="number" class=" text-input number-input" placeholder="add your number" formControlName="index">
            </div>
            <div class="center-div">
                <button class="center-div btn-click">Click!!</button>
              
            </div>
        </form>
    </div>
    
</div>
